*.py[cod]
# C extensions
*.so
*.log
__pycache__
.cache
htmlcov

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Ipython files
*.ipynb

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# OSX files
.DS_Store

# Sublime Text project files
odm_tools_python.sublime-project
odm_tools_python.sublime-workspace

# Subversion
.svn

*.config
*.exe
setup/Output/setup.exe

*.log
.idea
*.uml

# ipython
.ipynb_checkpoints
*.ipynb

#folders
Temp
*.app
*.spec


