
pyodbc
pymysql
numpy
scipy
#psycopg2
sqlalchemy
matplotlib
#pandas
#geoalchemy2

addons:
  apt:
    packages:
      # for wxPython:
      - python-wxgtk2.8
      - python-wxtools
      - wx2.8-doc
      - wx2.8-examples
      - wx2.8-headers
      - wx2.8-i18n

